@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300&display=swap');

:root{
  --primary-text: 'Montserrat', sans-serif;
  --secondary-text:'Roboto', sans-serif;
  --primary-color:#4f46e5;
  --secondary-color:#7c3aed;
  --bg-color:#E5e7eb;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing:border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  
}
.container{
  background-color:var(--bg-color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center-div{
  width: 25%;
  height: 80vh;
  background-color: #f9d89c;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, .5);
  border-radius: 15px;
}
h1{
  color: #fff;
  background: transparent;
  background-color: #8566aa ;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  min-width: 64px;
  text-shadow:5px 5px 5px rgba(0, 0, 0, .3);
}
input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}
.btn{
width:50px;
height: 55px;
background-color: #16a085;
color: #fff;
box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
border-radius: 50% !important;
}

.btn:hover{
  background-color:#818CF8 !important ;
}

ol{
  margin-top: 30px;
}
ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}
.todo-style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.deleteIcon{
  width:30px;
  height: 30px;
  margin: 0 15px 0 35px;
  padding: 5px;
  background-color: #8566aa;
  color: #fff;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
  border-radius: 50% !important;
}

.deleteIcon:hover{
  background-color: #dc143c;
}




@media (max-width:1024px){
  .center-div{
   width: 50%;
  }
}

@media (max-width:768px){
  .center-div{
   width: 60%;
  }

  button{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
  }
  .todo-style .fa-times{
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:470px){
  .center-div{
   width: 80%;
   height: 75vh;
  }
}
